body {
  background-color: black;
  color: whitesmoke;
}

h1{
  display: inline-block;
  font-size: 3rem;
  color: darkcyan;
  border-style: none;
  width: fit-content;
  margin-top: 65px;
  margin-bottom: 0px;
}

h2{
  display: inline-block;
  font-size: 2rem;
  color: darkcyan;
  border-style: dotted;
  width: fit-content;
}

h3{
  font-size: 1rem;
  color: darkcyan;
  border-style: dotted;
  width: fit-content;
}

hr {
  width: 100%;
  height: 1px;
  background-color: darkcyan;
  border-style: none;
}

.root {
  margin: auto;
  max-width: 80%;
}

.profile-img {
  width:128px;
  height:128px;
  border-radius: 35px;
  float: right;
}

.top::after {
  display: inline-block;
  content: "";
  clear: both;
  display: table;
  text-align: left;
  margin-bottom: 2px;
}